@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;400;600&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: hsl(219, 30%, 18%);
  font-family: "Noto Sans Thai", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
}

h1 {
  font-weight: 700;
  font-size: 30px;
}

.mt-2 {
  margin-top: 2rem;
}

.main {
  margin: 2em 0;
}

.container {
  max-width: 1440px;
  margin: 20px auto;
}

.bg-second {
  background-color: hsl(218, 28%, 13%);
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6rem;
}

nav .logo > img {
  width: 80%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 8em;
}

nav ul li {
  list-style: none;
  font-weight: 200;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.gap-1 {
  gap: 1rem;
}

.gap-5 {
  gap: 5rem;
}

.flex-column {
  flex-direction: column;
}

.first_section {
  margin: 5rem auto;
  max-width: 40%;
  text-align: center;
}

.bg-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 32%;
}

.second_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
}

.third_section {
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.third_section h1 {
  width: 50%;
}

.detail {
  line-height: 2em;
}

.line-h-5 {
  line-height: 5em;
}

.btn-primary {
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  width: 13rem;
  background: linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 100%
  );
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.btn-link {
  color: hsl(176, 68%, 64%);
  text-underline-offset: 10px;
  display: flex;
  align-items: center;
}
.btn-link > img {
  margin-left: 5px;
}

.text-center {
  text-align: center;
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;
}
